:root{
    --primary: white ;
    --light:white;
    --dark:transparent;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
}

.container1 h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2em;
    margin-top: 14%;
    text-align: center;
    color: aliceblue;
}

.container1 h1 {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 2%;
    text-align: center;
    margin-right: 2%;
    font-size: 6em;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("./img/giphy.gif");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 2s linear infinite;
    cursor: pointer;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

.container1 h1 span {
    transition: 0.5s;
}

.span1 {
    font-size: .5em;
}

h1:hover span:nth-child(1) {
    margin-right: 10px;
}

h1:hover span:nth-child(1)::after {
    content: "N";
}

h1:hover span:nth-child(2) {
    font-size: .0em;
}

h1:hover span:nth-child(3) {
    margin-left: 10px;
}

h1:hover span:nth-child(3)::before {
    content: ".";
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #ffffff 0 0 40px #ffffff,
        0 0 60px #ffffff,
        0 0 80px #ffffff,
        0 0 120px #ffffff,
        0 0 160px #ffffff;
}

/* buttons */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    float: right;
    right: 34%;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    cursor: url("Eyes.png"),auto;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0;
    border: none;
    background: white;
    color: black;
}

.btn-5:hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    cursor: url(./img/Eyes.png),auto;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* nav-bar */
/* .container0{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background:none;
    cursor: none;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

nav h1{
    font-family: 'Kolker Brush', cursive;
    color:white;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);

}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
    background-color: var(--primary);
}

.menu{
    font-family: 'Chakra Petch', sans-serif;
    display: none;
    float: right;
    right: 2%;
    margin: 0 -16px;
}

.menu a{
    color: #fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active , .menu a:hover{
    background-color: var(--primary);
    color: black;
}

@media(min-width:768px){
    .hamburger{
        display: none;
    }
    .menu{
        display: block;
    }
} */

/* about */
.container2{
    margin-top: 17%;
}
.about{
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: pink;
    font-size:14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* work */
#services{
    padding: 30px 30px;
    color: #fff;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translate(-10px);
}



/* projects */
#portofolio{
    padding: 50px 50px;
    color: white;
}
.work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10cpx;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border: radius 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}





/* collab */



