:root {
    --primary: white;
    --light: white;
    --dark: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container1 h4 {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    font-size: .8em;
    margin-top: -15%;
    margin-left: 1%;
    text-align: center;
    color: aliceblue;
}

.container1 h5 {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    font-size: .8em;
    margin-top: 29%;
    margin-left: 91.5%;
    text-align: center;
    color: aliceblue;
}

.container1 h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2em;
    margin-top: 14%;
    text-align: center;
    color: aliceblue;
    z-index: 1;
}

/* .container2 */
.container2 h3 {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2em;
    float: right;
    left: 41.3%;
    margin-top: -17%;
    text-align: center;
    color: white;
    z-index: 1;
}

.container2 h1 {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    margin-top: -14%;
    text-align: center;
    margin-left: 30%;
    font-size: 6em;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("./img/giphy.gif");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 2s linear infinite;
    cursor: pointer;
    z-index: 1;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

.container2 h1 span {
    transition: 0.5s;
}

.span1 {
    font-size: .5em;
}

h1:hover span:nth-child(1) {
    margin-left: 100px;
}

h1:hover span:nth-child(1)::after {
    content: "N";
}

h1:hover span:nth-child(2) {
    font-size: .0em;
}

h1:hover span:nth-child(3) {
    margin-left: 10px;
}

h1:hover span:nth-child(3)::before {
    content: ".";
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #ffffff 0 0 40px #ffffff,
        0 0 60px #ffffff,
        0 0 80px #ffffff,
        0 0 120px #ffffff,
        0 0 160px #ffffff;
}

/* buttons */
.frame {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

button {
    margin: 20px;
    margin-top: 12%;
    z-index: 1;
}

.custom-btn {
    float: right;
    right: 33.5%;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    cursor: pointer;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0;
    border: none;
    background: white;
    color: black;
}

.btn-5:hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


/* box */
/* main-box  */
.main-block {
    position: absolute;
    margin: 10% auto 0;
    width: 1122px;
    height: 330px;
    margin-left: 12.5%;
    margin-top: 0.2%;
    background: black;
    z-index: -1;
}

.main-glow::before,
.main-glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: 1;

}


.main-glow::after {
    filter: blur(40px);
}

.main-box {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1135px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 12%;
    margin-top: -1%;
    z-index: 1;
}

.main-box::before {
    content: '';
    position: absolute;
    width: 1135px;
    height: 100%;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    animation: animate 5s linear infinite;
}

.main-box::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* block1 */
.block5 {
    position: absolute;
    margin: 10% auto 0;
    width: 780px;
    height: 380px;
    margin-left: -22%;
    margin-top: 29%;
    background: black;
    z-index: -1;
}

.glow5::before,
.glow5::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.glow5::after {
    filter: blur(40px);
}

.box {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: -22%;
    margin-top: 27%;
    z-index: 1;
}

.box::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 100%;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    animation: animate 5s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* box2 */
/* block2  */
.block2 {
    position: absolute;
    margin: 10% auto 0;
    width: 190px;
    height: 390px;
    margin-left: -2%;
    margin-top: -24%;
    background: black;
}

.glow2::before,
.glow2::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.glow2::after {
    filter: blur(40px);
    opacity: 0.99;
}

.box2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: -2%;
    margin-top: -24%;
    z-index: -1;
}

.box2::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    animation: animate 5s linear infinite;
}

.box2::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* box3 */
.block3 {
    position: absolute;
    margin: 10% auto 0;
    width: 200px;
    height: 280px;
    margin-left: 95.5%;
    margin-top: 13.9%;
    background: black;
}

.glow3::before,
.glow3::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.glow3::after {
    filter: blur(20px);
    opacity: 0.99;
}

.box3 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 94.5%;
    margin-top: 13.5%;
    z-index: -1;
}

.box3::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    animation: animate 5s linear infinite;
}

.box3::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

/* box4 */
.block1 {
    position: absolute;
    margin: 10% auto 0;
    width: 950px;
    height: 270px;
    margin-left: 74%;
    margin-top: -28%;
    background: black;
}

.glow1::before,
.glow1::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
}


.glow1::after {
    filter: blur(40px);
}

.box4 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1000px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 70%;
    margin-top: -28%;
    z-index: -1;
    border-radius: 60px;
    z-index: 1;
}

.box4::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 100%;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
    animation: animate 2.9s linear infinite;
}

.box4::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
    border-radius: 60px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rough block  */
.rblock1 {
    position: absolute;
    margin: 10% auto 0;
    width: 920px;
    height: 125px;
    margin-left: 32%;
    margin-top: 24%;
    background: black;
    z-index: -1;
}

.rglow1::before,
.rglow1::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow1::after {
    filter: blur(40px);
}

.rbox1 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 960px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 31%;
    margin-top: 23%;
    z-index: 1;
}

.rbox1::before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox1::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox2 */
.rblock2 {
    position: absolute;
    margin: 10% auto 0;
    width: 840px;
    height: 100px;
    margin-left: 13%;
    margin-top: -11%;
    background: black;
    z-index: -1;
}

.rglow2::before,
.rglow2::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow2::after {
    filter: blur(40px);
}

.rbox2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 865px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 12%;
    margin-top: -13%;
    z-index: 1;
}

.rbox2::before {
    content: '';
    position: absolute;
    width: 900px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox2::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox3 */
.rblock3 {
    position: absolute;
    margin: 10% auto 0;
    width: 35px;
    height: 120px;
    margin-left: 87.4%;
    margin-top: 14%;
    background: black;
    z-index: -1;
}

.rglow3::before,
.rglow3::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow3::after {
    filter: blur(40px);
}

.rbox3 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 87%;
    margin-top: 13%;
    z-index: 1;
}

.rbox3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox3::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox4 */
.rblock4 {
    position: absolute;
    margin: 10% auto 0;
    width: 35px;
    height: 120px;
    margin-left: 91%;
    margin-top: 14%;
    background: black;
    z-index: -1;
}

.rglow4::before,
.rglow4::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow4::after {
    filter: blur(40px);
}

.rbox4 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 145.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 90.5%;
    margin-top: 13%;
    z-index: 1;
}

.rbox4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox4::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox5 */
.rblock5 {
    position: absolute;
    margin: 10% auto 0;
    width: 170px;
    height: 280px;
    margin-left: 87.5%;
    margin-top: -6.5%;
    background: black;
    z-index: -1;
}

.rglow5::before,
.rglow5::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow5::after {
    filter: blur(40px);
}

.rbox5 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 195px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 87%;
    margin-top: -8%;
    z-index: 1;
}

.rbox5::before {
    content: '';
    position: absolute;
    width: 205px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox5::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox6 */
.rblock6 {
    position: absolute;
    margin: 10% auto 0;
    width: 210px;
    height: 80px;
    margin-left: 71%;
    margin-top: -7%;
    background: black;
    z-index: -1;
}

.rglow6::before,
.rglow6::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow6::after {
    filter: blur(40px);
}

.rbox6 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 240px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 70%;
    margin-top: -8%;
    z-index: 1;
}

.rbox6::before {
    content: '';
    position: absolute;
    width: 205px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox6::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* rbox7 */
.rblock7 {
    position: absolute;
    margin: 10% auto 0;
    width: 160px;
    height: 20px;
    margin-left: 0.7%;
    margin-top: 3.5%;
    background: black;
    z-index: -1;
}

.rglow7::before,
.rglow7::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow7::after {
    filter: blur(40px);
}

.rbox7 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.1%;
    margin-top: 2.5%;
    z-index: 1;
}

.rbox7::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox7::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* rbox8 */
.rblock8 {
    position: absolute;
    margin: 10% auto 0;
    width: 150px;
    height: 175px;
    margin-left: 1%;
    margin-top: 6.8%;
    background: black;
    z-index: -1;
}

.rglow8::before,
.rglow8::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow8::after {
    filter: blur(40px);
}

.rbox8 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 175px;
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.1%;
    margin-top: 6.2%;
    z-index: 1;
}

.rbox8::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox8::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* rbox9 */
.rblock9 {
    position: absolute;
    margin: 10% auto 0;
    width: 160px;
    height: 20px;
    margin-left: 0.7%;
    margin-top: 20%;
    background: black;
    z-index: -1;
}

.rglow9::before,
.rglow9::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow9::after {
    filter: blur(40px);
}

.rbox9 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.1%;
    margin-top: 19.1%;
    z-index: 1;
}

.rbox9::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox9::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* rbox9 */
.rblock10 {
    position: absolute;
    margin: 10% auto 0;
    width: 442px;
    height: 20px;
    margin-left: 0.8%;
    margin-top: 23.5%;
    background: black;
    z-index: -1;
}

.rglow10::before,
.rglow10::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

}


.rglow10::after {
    filter: blur(40px);
}

.rbox10 {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 465px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.1%;
    margin-top: 23%;
    z-index: 1;
}

.rbox10::before {
    content: '';
    position: absolute;
    width: 465px;
    height: 100%;
    /* background: rgb(0, 23, 255);
    background: linear-gradient(0deg, rgba(0, 23, 255, 1) 0%, rgba(253, 45, 214, 1) 70%); */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    /* transition: 400ms ease all;
    animation: animate 5s linear infinite; */
}

.rbox10::after {
    content: '';
    position: absolute;
    inset: 1.5px;
    background: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* icons */
.icons {
    position: absolute;
    display: grid;
    grid-template-columns: max-content;
    row-gap: 2rem;
    margin-left: 96.5%;
    margin-top: 13%;
}

.icons a {
    color: #fff;
    font-size: 45px;
}

/* updot  */
.up-dot {
    margin-top: -40%;
    position: absolute;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: -1;
}

.up-dot li {
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    animation: animate 1.6s ease-in-out infinite;
}

.dot1 {
    position: absolute;
    margin-left: -360%;
}

.dot2 {
    position: absolute;
    margin-left: -170%;
}

/* .dot3{
    position: absolute;
    margin-left: -120%;
} */
/* 
@keyframes animate {

    0%,
    40%,
    100% {
        transform: scale(.2);
    }

    20% {
        transform: scale(1);
    }
} */

.up-dot li:nth-child(1) {
    animation-delay: -1.4s;
    background: #fff;
    box-shadow: 0 0 40px #ffff;
}

.up-dot li:nth-child(2) {
    animation-delay: -1.2s;
    background: rgb(0, 23, 255);
    box-shadow: 0 0 40px #ffff;
}

.up-dot li:nth-child(3) {
    animation-delay: -1.0s;
    background: #f507a1;
    box-shadow: 0 0 40px #ffff;
}

/* about */
.container2 {
    margin-top: 17%;
}

.about {
    padding: 80px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;

}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: pink;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* work */
#services {
    padding: 30px 30px;
    color: #fff;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translate(-10px);
}



/* projects */
#portofolio {
    padding: 50px 50px;
    color: white;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10cpx;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border: radius 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}


/* about  */
.about-content {
    position: absolute;
    z-index: 1;
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    font-size: .7em;
    margin-top: 9%;
    margin-left: .8%;
}


/* collab */